fastapi>=0.110.0
uvicorn[standard]>=0.29.0
python-dotenv>=1.0.0
requests>=2.31.0
pydantic>=2.0.0
gtts>=2.5.0
python-socketio>=5.11.0
email-validator>=2.1.0
python-multipart>=0.0.9
pyautogui>=0.9.54
psutil>=5.9.8
pynput>=1.7.6
opencv-python>=4.9.0
